body {
    padding: 0;
    overflow: hidden;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  font-size: 24px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p.main {
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: absolute;
  top: 130px;
}

#map {
    position: absolute;
    right: 0px;
    left: 450px;
    height: 100%;
    top: 0;
}

#image {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  left: 120px;
  top: 370px;
  bottom: 500px;
}

[src=''] {
    visibility: hidden;
}

#back {
  position: absolute;
  left: 100px;
  top: 540px;
  background-color: #d6d4d4;
  padding: 5px 15px;
  border-radius: 5px;
  cursor:pointer
}

#next {
  position: absolute;
  left: 300px;
  top: 540px;
  background-color: #d6d4d4;
  padding: 5px 15px;
  border-radius: 5px;
  cursor:pointer
}

#previous {
  position: absolute;
  left: 200px;
  top: 540px;
  background-color: #d6d4d4;
  padding: 5px 15px;
  border-radius: 5px;
  cursor:pointer
}

.street-type {
  font-weight: bold;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 14px;
}

.note {
  position: absolute;
  left: 0px;
  width: 380px;
  top: 580px;
  overflow-y: auto;
  padding: 20px;
  font-size: 14px;
  color: #777;
}

.source {
  position: absolute;
  left: 0px;
  width: 380px;
  top: 600px;
  overflow-y: auto;
  padding: 20px;
  font-size: 14px;
  color: #777;
}

.legend {
  position: absolute;
  left: 460px;
  top:550px;
  background-color: #217217217;
  z-index: 2000;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.legend .legend-title {
   text-align: left;
   margin-bottom: 5px;
   font-weight: bold;
   font-size: 90%;
   }
 .legend .legend-scale ul {
   margin: 0;
   margin-bottom: 5px;
   padding: 0;
   float: left;
   list-style: none;
   }
 .legend .legend-scale ul li {
   font-size: 80%;
   list-style: none;
   margin-left: 0;
   line-height: 18px;
   margin-bottom: 2px;
   }
 .legend ul.legend-labels li span {
   display: block;
   float: left;
   height: 16px;
   width: 30px;
   margin-right: 5px;
   margin-left: 0;
   border: 1px solid #999;
   }
 .legend a {
   color: #777;
   }
